input[type="search"] {
	border-color:solid thin 1px;
}
.btn-circle {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 6px 0;
  font-size: 18px;
  line-height: 2.42;
  border-radius: 30px;

}
.colordiv1
{
 width : 25px;
 height : 25px;
 background-color: orange;
 border : 1px solid black;
 display: inline-block;
 padding-left: 0;
}
.colordiv2
{
 width : 25px;
 height : 25px;
 background-color: blue;
 border : 1px solid black;
 display: inline-block;
  padding-left: 0;
}

.colordiv3
{
 width : 25px;
 height : 25px;
 background-color: skyblue;
 border : 1px solid black;
 display: inline-block;
  padding-left: 0;

}
.colordiv4
{
 width : 25px;
 height : 25px;
 background-color: brown;
display: inline-block;
 border : 1px solid black;
  padding-left: 0;
}
.colordiv8
{
 width : 25px;
 height : 25px;
 background-color: brown;
 border : 1px solid black;
 margin-left: 24%;
 margin-top: -13%;

}
.color-box {
            float:left;
            width:30px;
            height:30px;
            margin:5px;
            border: 1px solid white;
}
#picker {
            margin:0;
            padding:0;
            border:0;
            width:40px;
            height:20px;
            border-right:20px solid #000000;
            line-height:20px;
}


table td,table th{font-size: 14px!important;}

.box{border: 1px solid #ccc; border-bottom: 2px solid #aaa; padding: 10px; min-height: 180px;
text-align: center; padding-top: 30px;
color: #333;}
.box .icon {font-size: 65px;}
.box h3{font-size: 16px;}

.box:hover, .box:focus{ background-color: #f6f6f6; color: #C90000;  border-bottom: 2px solid #777;}
.box.stacked .icon {font-size: 30px!important;}

.bx{
  border: 1px solid #ccc; 
  border-bottom: 2px solid #aaa; 
  padding: 10px; 
  /* min-height: 180px; */
text-align: center;
color: #333;
    /* margin-bottom: 10px; */
    /* margin-left: 15px; */
}

.bx a{color: #555; padding: 7px;  margin: 2px; border: 1px solid transparent;}
.bx a:hover, .bx a:focus{border: 1px solid #ccc;}
.bx h3{  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none; 
cursor: default;
padding: 25px 10px 20px; 
margin: 0;}
.bx hr{margin-top: 5px;}
.tooltip > .tooltip-inner {background: #222; color: white; box-shadow: none;}
/*.canvasBig{min-height: 500px;}*/

.bootstrap-colorpalette {
    padding-left:4px;
    padding-right:4px;
    /*white-space: normal;*/
    line-height:1;
}

.bootstrap-colorpalette div {
    line-height:0;
}

.bootstrap-colorpalette .btn-color {
    width: 14px;
    height: 12px;
    border: 0px solid #fff;
    margin: 0;
    padding: 0;
}

.bootstrap-colorpalette .btn-color:hover {
    border: 0px solid #000;
}
.clrpicker{
    top:15px; 
    padding: 3px;
    
}
.clr_thumbnail{
    background-color:#000000;
    width: 15px; 
    height: 15px;
}
.clr_thumbnail_lg{
    background-color:#000000;
    width: 20px; 
    height: 20px;
    border:1px solid black;
}
.clr-pallete-picker{
    background-color: rgb(0, 0, 0); 
    width: 25px;
    height: 25px;
    border:1px solid rgba(0,0,0,0.5);
}
.clr-pallete-picker:hover{
    border: 1px solid #000;
}
.btn_css{
    background-color: rgb(0, 0, 0); 
    width: 25px;
    height: 25px;
    border:1px solid rgba(0,0,0,0.5);
}
#color_btn:hover{
    border:1px solid #000;
}
.picker{
    width: 200px;
    left:-40px;
}

.btn_css:hover{
    border:1px solid black;
}   

#pickClrByName{
    width: 90px;
}
#show_color{
    width: 110px;
    padding-top: 6px;
}
.canvasBig{
    border:1px solid;
    border-color:#F1F1F1;
    margin-top:2%;
    margin-bottom:4%;
    overflow:auto;
    height: 600px;
    /*max-height:600px;*/
    background:#F1F1F1;
    min-height: 600px;
}
fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    border: 1px solid #105075;
    background: white;
}
legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
    font-weight: bold; padding: 0 0.3em; 
}
.pHimage{
  cursor: pointer;
  height: 64px;
  margin: 15px 10px;
  width: 64px;
}

.editor-placeholderBox {
    border: 1px solid #000;
    max-height: 250px;
    overflow-y: auto;
}